
:root {
  --primary-color:#9C69E2;
  --gray-color:#4B5D68;
  --text-title-color:#212353;
}

html,body {
  font-family: 'Poppins', sans-serif;
}
body {
  overflow-x: hidden;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media screen and (max-width:1500px) {
  html {
    font-size: 52.5%;
  }
}

ul {
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
}
img {
  max-width: 100%;
  display: block;
}


.wrapper {
  max-width: 1600px;
  margin: auto;
}
.container{
  max-width: 115rem;
  padding: 0 15px;
  margin: auto;
}

.btn {
  padding: 0 3.7rem;
  height: 6rem;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.6;
  background-color: white;
  color: var(--text-title-color);
  cursor: pointer;
  transition: 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}
.btn.btn-box-shadow {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3)
}

.btn.btn-primary{
  background-color: var(--primary-color);
  color: white;
}


.bx-arrow-back.bx-arrow-next{
  transform: rotate(180deg);
}

.text-overflow-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}